<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Program Faculty
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list color="light">
      <ion-list-header color="dark">
       <h1 style="font-size:2.5em;text-align:center;text-transform:capitalize;"><b>Semester 1</b></h1>
    </ion-list-header>
  
    <ion-card class="text" *ngFor="let item of semester1 | async">
      <h1 style="margin:10px"><b>{{item['name']}}</b></h1>
      <p style="padding:5px"><b>Course : </b>{{item['course']}}</p>
      <p style="padding:5px"><b>Email : </b> {{item['email']}}</p>
    </ion-card>
  </ion-list>

    <ion-list color="light">
      <ion-list-header>
        <h1 style="font-size:2.5em;text-align:center;text-transform:capitalize"><b>Semester 2</b></h1>
    </ion-list-header>
    <ion-card class="text" *ngFor="let item of semester2 | async" color="light">
      <h1 style="margin:10px"><b>{{item['name']}}</b></h1>
      <p style="padding:5px"><b>Course : </b>{{item['course']}}</p>
      <p style="padding:5px"><b>Email :</b> {{item['email']}}</p>
     </ion-card> 
  </ion-list>
</ion-content>
